@charset "utf-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}

body {
    margin: 0 30px;
    border-style: dotted;
    font-family:
        /*"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif, */
        YuGothic, "Yu Gothic Medium", "Yu Gothic", BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, Verdana, Meiryo, sans-serif, "Shippori Mincho";
    line-height: 1.7;
    color: black;

}

section {
    border: solid 2px;
    margin: 0 0 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-left: 30px;
    padding-right: 30px;
}

.title_en {
    background-color: lightgray;
    font-family: "Crimson Pro", serif;
}

.title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
    font-family: "Shippori Mincho";
}

/* HEADER
------------------------------- */
.page_header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: gray;
    width: 15%;
}

.main_logo {
    background-color: lightgray;
    width: 80%;
}

img {
    max-width: 100%;
    /* width: 20rem; */
}

.nav {
    background: gray;
    width: 80%;
}

.main_nav {
    background: gray;
    display: flex;
    list-style: none;
    margin-top: 5px;
}

.main_nav li {
    margin-left: 20px;
    background-color: lightgray;
}

/* HOME
------------------------------- */
/* .home {
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
} */
.home {
    background: url(../img/lawyer.jpg) center/cover;
    min-height: 100vh;
}


.home_text {
    background-color: gray;
    margin-top: 16rem;
    margin-bottom: 20px;
    width: 45%;
}

.home_text h5 {
    background-color: lightgray;
    margin-bottom: 20px;
    font-family: "Crimson Pro", serif;
    font-size: 15px;
}

.home_text h1 {
    background-color: lightgray;
    margin-bottom: 30px;
    font-family: "Shippori Mincho", serif;
    font-size: 50px;
    letter-spacing: 10px;
    line-height: 130%;
}

.home_text p {
    background-color: lightgray;
    margin-bottom: 40px;
    font-family: "Shippori Mincho", serif;
    line-height: 2.25;
}

/* EVENT
------------------------------- */
.event {
    background-color: #2C3639;
    color: white;
}

.event_container {
    display: flex;
    grid-template-columns: 2fr;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.seminar,
.newsletter {
    /* border-style: solid; */
    width: 100%;
}

.seminar_title {
    background-color: gray;
    margin-bottom: 20px;
    display: flex;

}

.seminar_title .title_en {
    background-color: lightgray;
    font-family: "Crimson Pro", serif;
}

.seminar_title .title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
    font-family: "Shippori Mincho";
}

.schedule_list {
    background-color: gray;
    margin-bottom: 20px;
}

.schedule {
    background-color: gray;
    margin-bottom: 20px;
    display: flex;
    list-style: none;
}

.schedule>li:nth-child(n + 2) {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}

.schedule>li:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 5px;
    margin-left: -24px;
}

.schedule li {
    margin-right: 20px;
    background-color: lightgray;
    position: relative;
}

.schedule_list p {
    background-color: lightgray;
    position: relative;
}

.schedule_list>p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.more {
    background-color: gray;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
}

.more::after {
    content: "";
    display: block;
    width: 85px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.more ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f850";
    color: #fff;
    margin-left: 10px;
}

/* TOPICS
------------------------------- */
.topics {
    background-color: #000;
    color: white;
}

.topics_container {
    grid-template-columns: 3fr;
}

.topic_caption {
    display: flex;
    gap: 30px;
    width: 100%;
}

.topic_title {
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    display: flex;
}

.topic_title .title_en {
    background-color: lightgray;
}

.topic_title .title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
}

.topic_img {
    justify-content: center;
    /* border-style: solid; */
    display: flex;
    background-color: gray;
}

.photo {
    background-color: lightgray;
    margin-bottom: 20px;
}

.topic_text {
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 80px;
}

.schedule_list {
    background-color: gray;
    margin-bottom: 20px;
}

.schedule {
    background-color: gray;
    margin-bottom: 20px;
    display: flex;
    list-style: none;
}

.schedule li {
    margin-right: 20px;
    background-color: lightgray;
    color: #fff;
}

.schedule li:nth-child(n) {
    color: white;
}

.schedule_list p {
    background-color: lightgray;
    position: relative;
}

.schedule_list>p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

/* ATTORNEY
------------------------------- */
.attorneys {
    background-color: #2C3639;
    color: #fff;
}

.attorney {
    margin: 20px auto;
}

.attorney_title {
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    display: flex;
}

.attorney_title .title_en {
    background-color: lightgray;
}

.attorney_title .title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
    width: 30%;
}

.attorney_text {
    background-color: gray;
    width: 70%;
    margin-top: 40px;
}

.attorney_text p {
    background-color: lightgray;
    width: 80%;
}

.attorney_menu {
    background-color: gray;
    margin-top: 40px;
    width: 30%;
}

.attorney_menu p {
    background-color: lightgray;
    width: 80%;
    position: relative;
}

/* 擬似要素 arrow */
.attorney_menu::after {
    content: "";
    display: inline-block;
    width: 85px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.attorney_menu ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f0da";
    color: #fff;
    margin-left: 40px;
}

/* ./arrow */

/* 擬似要素 下線 */
.attorney_menu p {
    /* background-color: lightgray; */
    position: relative;
}

.attorney_menu>p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

/* ./下線 */

/* AREA
------------------------------- */
.area {
    background-color: black;
    color: white;
}

.area_fileld {
    margin: 20px auto;
}

.area_title {
    background-color: gray;
    width: 50%;
    display: flex;
}

.area_title .title_en {
    background-color: lightgray;
}

.area_title .title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
}

.area_text {
    background-color: gray;
    width: 70%;
    margin-top: 10px;
}

.area_text p {
    background-color: lightgray;
    width: 80%;
}

.area_menu {
    background-color: gray;
    margin-top: 10px;
    width: 30%;
}

.area_menu p {
    background-color: lightgray;
    width: 80%;
    position: relative;
}

/* 疑似要素 arrow */
.area_menu p::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f0da";
    color: #fff;
    margin-left: 40px;
}


/* 下線 */
area_menu p {
    position: relative;
}

.area_menu>span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}



/* ABOUT
------------------------------- */
.about {
    background-color: #000;
    color: #fff;
}

.about_us {
    margin: 20px auto;
}

.about_title {
    background-color: gray;
    width: 65%;
    display: flex;
}

.about_title .title_en {
    background-color: lightgray;
}

.about_title .title_jp {
    background-color: lightgray;
    margin-left: 20px;
    padding-top: 10px;
}

.about_text {
    background-color: gray;
    margin-top: 10px;
}

.about_text p {
    background-color: lightgray;
    width: 50%;
}

.content_sentence {
    background-color: gray;
    margin-top: 10px;
}

.about_menu {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.menu_philosophy {
    background-color: gray;
    margin-top: 10px;
    position: relative;
    margin-right: 50px;
}

.menu_information {
    background-color: gray;
    margin-top: 10px;
    position: relative;
    margin-right: 50px;
}

/* 擬似要素 arrow */
.menu_philosophy::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.menu_philosophy ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f0da";
    color: #fff;
    margin-left: 40px;
}

.menu_information::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.menu_information ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f0da";
    color: #fff;
    margin-left: 40px;
}

/* ./arrow */

/* NEWS
------------------------------- */
.news {
    background-color: #2C3639;
    color: #fff;
}

.news_container {
    display: flex;
    grid-column: 1 / 3;
    width: 100%;
    gap: 10px;
    margin: 20px auto;
}

/*  news_title_global  */
.news_title_global,
.news_schedule {
    /* border-style: solid; */
    justify-content: center;
}

.news_title_global {
    width: 33%;
}

/*  news_schedule  */
.schedule_last {
    padding-top: 26px;
}

/* 囲み線 上線・横線*/
.news_schedule {
    width: 80%;
    position: relative;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; 
}

.news_schedule {
    position: relative;
}
.news_schedule::after {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 1px;
    background-color:#538cff;
}



.news_schedule::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 40px;
    height: 1px;
    content: "";
    background-color: #538cff;
}


/* ./囲み線 上線・横線 */

/* 囲み線 下線 */
.news_schedule_list {
    background-color: gray;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.news_schedule_list::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 52px;
}

.news_schedule_list:last-child::after {
    content: none;
}

.news_schedule_list::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 40px;
    height: 1px;
    content: "";
    background-color: #538cff;
} */
/* ./囲み線 下線 */

.title_en_global {
    background-color: gray;
}

.title_jp_global {
    background-color: gray;
    margin-top: 10px;

}

.title_en_global h2 {
    background-color: lightgray;
    margin: 0 155px 0 0;
}

.title_jp_global p {
    background-color: lightgray;
    margin: 0 199px 0 0;
}

.more {
    background-color: gray;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 50%;
}

.more::after {
    content: "";
    display: block;
    width: 85px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.more ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f850";
    color: #fff;
    margin-left: 10px;

}

/*  news_schedule  */
.news_schedule_list {
    background-color: gray;
    margin-bottom: 20px;
    height: 134px;
}

.schedule_last li {
    margin: 10px 10px 10px 0;
    background-color: lightgray;
}

.schedule_last {
    display: flex;
    list-style: none;
}

.schedule_last>li:nth-child(n +2) {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.schedule_last>li:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 5px;
    margin-left: -24px;
}

.schedule_last li {
    margin-right: 20px;
    background-color: lightgray;
    position: relative;
}

.note {
    background-color: lightgray;
}

/* FOOTER
------------------------------- */
.footer {
    background-color: #000;
    color: #fff;
}

.footer_container {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    margin: 20px auto;
}

.footer_logo {
    background-color: gray;
    height: 111px;
    width: 60%;
}

.footer_logo_img {
    background-color: lightgray;
    margin-bottom: 20px;
}

.footer_adress {
    background-color: gray;
    margin-top: 25px;
    height: 148px;
    width: 80%;
}

.adress {
    background-color: lightgray;
    margin-top: 50px;
    color: gray;
}

.policy {
    position: relative;
    width: 80%;
}

.policy::after {
    content: "";
    display: block;
    width: 161px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

/* footer_nav */
.footer_nav {
    height: 362px;
    background-color: gray;
    margin-top: 20px;
}

.top p {
    background-color: lightgray;
    margin-bottom: 35px;
    position: relative;
}

.top p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.policy {
    background-color: gray;
    margin-top: 25px;
}

.line_left p {
    margin: 10px;
}

.line_left p {
    margin-bottom: 10px;
    color: gray;
    position: relative;
}

.line_left p::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.line_left p:last-child::after {
    content: none;
}

.child> :last-child {
    margin-bottom: 35px;
}

.pagetop,
.arow {
    background-color: lightgray;
    margin-bottom: 20px;
    height: 25px;
}

.footer_pagetop {
    background-color: gray;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 362px;
}

.pagetop::after {
    content: "";
    display: block;
    width: 85px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
}

.pagetop ::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f35b";
    color: #fff;
    margin-left: 50px;
    font-size: 32px;
}

 .pagetop::after {
    content: none;
} 

/* COPYRIGHT
------------------------------- */
.copyright {
    background-color: #2C3639;
}

.wrapper {
    background-color: gray;
}

.wrapper p {
    background-color: lightgray;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}